.row {
  display: flex;
  margin: 8rem 0;

  &--between {
    justify-content: space-between;
  }
}

.col-6 {
  width: 50%;
}

.container {
  width: 114rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.title {
  &--center {
    justify-content: center;
  }

  &--xxl {
    font-size: $title-xxl-size;
    text-transform: uppercase;
  }

  &--xl {
    display: flex;
    position: relative;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.231rem;
    line-height: 3.5rem;

    &::before {
      content: '';
      position: absolute;
      display: inline;
      width: 5rem;
      bottom: 0;
      border-bottom: 2px solid #00a4e5;
    }
  }
}

.social-icon {
  &::before {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    fill: #fff;
  }

  &--facebook::before {
    content: url(~assets/images/facebook-icon.svg);
  }

  &--google {
    content: url(~assets/images/google-icon.svg);
  }

  &--twitter {
    content: url(~assets/images/twitter-icon.svg);
  }
}
