// Title sizes
$title-xxl-size: 6rem;
$title-xl-size: 1.8rem;
$title-lg-size: 1rem;
$title-sm-size: 1rem;
$title-md-size: 1rem;


// Text sizes
// $text-xl-size: ;
// $text-lg-size: ;
// $text-md-size: ;
// $text-sm-size: ;

// Layout sizes
$container-max-size: 114rem;
$gutter: 2rem;

