@import 'fonts';
@import 'vars';
@import 'components';
@import 'utilities';

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

body,
button {
  font-family: 'Open Sans', sans-serif;
}
